@import 'normalize';

@import 'base';
@import 'foot';
@import 'head';

.section-wrap {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  width: 75%;
  &.short {
    padding: 0 16px;
  }
  &.tall {
    padding: 64px 16px;
  }
}

.certification-image {
  max-height: 200px;
  max-width: 200px;
}

.page-content-wrap {
  background-color: $white;
}

.product-image {
  max-height: 400px;
  max-width: 400px;
}

.image-wrap {
  float: left;
  margin: 0 24px 16px 0;
}

//Displays the big full width banner image
.main-banner-image{
  background: center no-repeat;
  background-size: cover;
  //width: 100%;
  z-index: 0;
  //position:absolute;
  //top: 0;
  //left: 0;
}

.small {
  font-size: 14px;
}

/* Banner for the call to action */
.call-to-action{
  background-color: #D0870E;
  font-size: 24px;
  color: black;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.customer-box{
  border-top: 5px solid black;
  padding: 10px;
}

.client-label{
  text-align: center;
  font-weight: bold;
}

.item-box{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
}

@media all and (max-width:600px){
  .item-box{
    flex-direction: column;
    width: 100%;
  }
}

.item1{
  order: 1;
}

.item2{
  order: 2;
}

.item3{
  order: 3;
}

.item4{
  order:4;
}

.item5{
  order:5;
}

.item6{
  order:6;
}

.item7{
  order:7;
}

.item{
  width:270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.item-image{
  width: 134px;
  height: 134px;
  aligh: center;
}

.customer-box-image{
  height: 100px;
}

.white-border-top{
  //border-color: white;
  border-top: solid 1px white;
  padding: 5px;
}

.blog-update-box{
  width: 28%;
  height: 175px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  float: right;
}

.text-box{
  //wrap: soft;
  width: 90%;
  resize: both;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  float: left;
  display: inline-block;
}