@import 'normalize';

@import 'base';
@import 'foot';
@import 'head';

.section-wrap {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 16px;
  width: 860px;
/*  width: 100%;*/
  &.short {
    padding: 0 16px;
  }
  &.tall {
    padding: 64px 16px;
  }
}

.certification-image {
  max-height: 200px;
  max-width: 200px;
}

.page-content-wrap {
  background-color: $white;
}

.product-image {
  max-height: 400px;
  max-width: 400px;
}

.image-wrap {
  float: left;
  margin: 0 24px 16px 0;
}

.main-banner-image{
  width: 100%;
}

.small {
  font-size: 14px;
}

/* Banner for the call to action */
.call-to-action{
  background-color: grey;
  font-size: 24px;
  color: red;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 10px;
}

//Table settings for footer
.footer-table{
  padding: 20px;
}