@import 'variables';
@import 'events';

a {
  color: $blue3;
  text-decoration: none;
  &:hover {
    color: $blue2;
  }
}

body {
  background-color: $blue1;
}

blockquote {
  font-weight: 300;
}

div {
  @include border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: $blue1;
}

h1, h2, h3, h4, h5 {
  color: $blue2;
}

img {
  max-width: 100%;
}

td {
  padding: 5px;
}

