.copyright-wrap {
  color: $grey;
  font-size: 12px;
  text-align: center;
}

.foot {
  clear: left;
  margin-top: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
