@import 'variables';

.head {
  @include antialiased;
}

/*for logo in page header*/
.head-logo {
  padding-right: 20px;
  width: 200px;
}

//For navigation links
.navigation-box{
  float: right;
}

/*for the navigation menu.  sets color when mouse hovers*/
.nav-link {
  color: $white;
  margin-right: 16px;
  &:hover {
    color: $blue4;
  }
}

.ni-alliance-badge {
  padding: 10px;
  width: 150px;
}
