@import 'variables';

.head {
  @include antialiased;
}

.head-logo {
  padding-right: 20px;
  width: 200px;
}

.nav-link {
  color: $white;
  margin-right: 16px;
  &:hover {
    color: $blue4;
  }
}

.ni-alliance-badge {
  padding: 10px;
  width: 150px;
}
