.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Amphibious Assault Vehicle Simulator
%ul
  %li LabVIEW 8.6
  %li LabVIEW RT 8.6
  %li Multiple PXI Chassis
  %li CAN, GPIB, Serial, Utility Bus
  %li Thousands of Analog and Digital Signals
  %li Simulation of Dozens of Components
%blockquote
  Robert was a hard worker and a team player. He was a very responsive engineer and enthusiastic in assisting his
  peers when needed. My experience with Robert has been extremely positive.
%p -Ken Kong
.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/EFVTT CAN BD.png" }EFVTT CAN BD.png
  .attachment
    %a{ :href => "/images/EFVTT Main FP.png" }EFVTT Main FP.png
