.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Carbon Nanotube Integrity Tester
%ul
  %li LabVIEW 8.6
  %li DAQmx
  %li Valve Control
  %li Custom Text Logging
%img{:src => '/images/THT%20FP.png'}
%img{:src => '/images/THT%20BD.png'}
