.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio

%h1 Cell Phone / GPS / Electronics / RF Tester

%ul
  %li LabVIEW 8.0
  %li TestStand 3.5
  %li Agilent 5515C
  %li Spirent GPS
  %li Access Database
