.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio

%h1 Chemical Process Monitoring and Control

%ul
  %li LabVIEW 2011
  %li Plug-in Configurable Architecture
  %li cDAQ
  %li ENET-232
  %li SRS Gas Analyzer
  %li Multiple PID Control
  %li Modbus TCP
  %li Temperature, Pressure, Flow
  %li Alarms &amp; Limits
.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/SCP Logger BD.png" }SCP Logger BD.png
  .attachment
    %a{ :href => "/images/SCP Logger Main FP.png" }SCP Logger Main FP.png

