.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Chemical Test Monitoring and Control
%ul
  %li LabVIEW 2010
  %li Plug-in Configurable Architecture
  %li Multiple DAQmx Devices
  %li Serial
  %li Modbus
  %li Analog &amp; Digital Inputs/Outputs
%img.product-image{:src => '/images/FPC%20FP.png'}
%img.product-image{:src => '/images/FPC%20BD.png'}
