.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Core Memory Tester
%ul
  %li LabVIEW 8.6
  %li LabVIEW FPGA 8.6
  %li Custom Digital FPGA Communication
  %li PXI Chassis
  %li R-Series FPGA
%blockquote
  Robert knocked this job out of the park. His design and architecture will be a model for future LabView projects in
  the company. The design included FPGA digital I/O, FPGA analog inputs and GPIB. Roberts contacts at National
  Instruments were extremely valuable in quickly overcoming technical challenges during the project.
%p -Drew Sutton

.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/CMT FPGA BD.png" }CMT FPGA BD.png
  .attachment
    %a{ :href => "/images/CMT Main FP.png" }CMT Main FP.png
