.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Core Sample Gamma Radiation Tester
%ul
  %li LabVIEW 2010
  %li Gamma Measurements
  %li Custom USB Driver
  %li Serial Belt Control
.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/TerraGAM BD.png" }TerraGAM BD.png
  .attachment
    %a{ :href => "/images/TerraGAM FP.png" }TerraGAM FP.png
