.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Electromechanical Monitoring and Control System
%ul
  %li LabVIEW 2009
  %li #{ext_link 'ARINC', 'http://www.aviation-ia.com/standards'} Communications Interface
  %li Baseline Deviation Plots
  %li Custom Picture Control Message System
  %li Monitor &amp; Log Hundreds of Messages
.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/EMC BD.png" }EMC BD.png
  .attachment
    %a{ :href => "/images/EMC FP.png" }EMC FP.png
