.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Helicopter Monitoring System
%ul
  %li LabVIEW 8.5
  %li DAQmx
  %li Custom USB Raw Interface
  %li TDMS Logging
  %li Modular Touch Panel
%blockquote
  Robert did an excellent job for us. His work was done in an efficient and timely manner (very important for our
  project). He helped us make changes on the fly to keep the program running based on our changing needs. Robert is very
  personable and responsive. I'll definitely use his talents in the future and recommend his work to others.
%p -Ben Garcia

.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/FastFin BD.png" }FastFin BD.png
  .attachment
    %a{ :href => "/images/FastFin FP.png" }FastFin FP.png
