.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 High Speed Automated Inspection
%ul
  %li LabVIEW 2011
  %li LabVIEW RT 2011
  %li PXI Chassis
  %li Three Single Board PCs
  %li Diagnostic Laptop
  %li Gamma Detection
  %li Custom USB Interface
  %li UDP Broadcasting
  %li 20 UUTs/second

.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/IMAG Main BD.png" }IMAG Main BD.png
  .attachment
    %a{ :href => "/images/IMAG Diagnostic Main FP.png" }IMAG Diagnostic Main FP.png
