.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Munitions Integrity Inspection
%ul
  %li LabVIEW 2011
  %li LabVIEW RT 2011
  %li LabVIEW FPGA 2011
  %li 4 PXI Chassis
  %li R-Series FPGA for I2C and analog measurements
  %li RS-485 communication between PXI chassis
  %li Ethernet/IP communication with PLC
  %li #{ext_link 'CANOpen', 'http://www.can-cia.org/index.php?id=canopen'} motor control &amp; communication
  %li #{ext_link 'I2C', 'http://en.wikipedia.org/wiki/I%C2%B2C'} digipot control &amp; communication
  %li Custom TCP/IP communication with diagnostic laptop
  %li Eddy Current Measurements at 750 kS/s
  %li 20 UUTs/second
%img.product-image{:src => '/images/ECMI%20Diagnostics.png'}
%img.product-image{:src => '/images/ECMI%20RT%20BD.png'}
