.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Pull Force Monitor
%ul
  %li LabVIEW 2011
  %li USB-DAQ
  %li CSV Logging
  %li PLC Communication
%img{:src => '/images/BD%20Logging%20BD.png'}
