.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Radar Transmitter Test Station
%ul
  %li LabVIEW 2010
  %li LabVIEW FPGA 2010
  %li PXI Chassis
  %li R-Series FPGA
  %li Custom Script Editor
  %li Custom Test Engine
  %li Agilent Mixed Signal Analyzer
  %li Agilent Digital Multimeter
  %li Agilent Counter/Timer
  %li Agilent Spectrum Analyzer
  %li Agilent Signal Generator
  %li Agilent Oscilloscope
  %li Agilent Pulse Function Arbitrary Noise Generator
  %li Agilent Power Meter
  %li Agilent Modular Power System
  %li Agilent Vector Signal Generator
  %li VTI Instruments VTEXSwitch
  %li Chroma ATE chr6320x
  %li Custom Digital FPGA Communication

.attachments
  %b Attachments (3)
  .attachment
    %a{ :href => "/images/RTTS Main.png" }RTTS Main.png
  .attachment
    %a{ :href => "/images/RTTS FPGA BD.png" }RTTS FPGA BD.png
  .attachment
    %a{ :href => "/images/RTTS SE Main.png" }RTTS SE Main.png
