.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
  %h1 Rock Sample Control and Test System
%ul
  %li LabVIEW 2010
  %li Control Four Independent Thermal Chambers
  %li USB-DAQ
  %li DAQmx

.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/Isotherm BD.png" }Isotherm BD.png
  .attachment
    %a{ :href => "/images/Isotherm FP.png" }Isotherm FP.png
