.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Rocket Fuel Consumption Tester
%ul
  %li LabVIEW 2009
  %li LabVIEW RT 2009
  %li High Speed Synchronization
  %li NI 6259, 6143, 4462 Acquisition
  %li TDMS Reporting in Diadem
%img{:src => '/images/MDTS%20RT%20BD.png'}
%img{:src => '/images/MDTS%20RT%20Main.png'}
