.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Rock Sample Analysis
%ul
  %li LabVIEW 2009
  %li DAQmx
  %li ActiveX Excel Inteface
  %li Pressure Controlled Porosity Test

.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/TerraTRA BD.png" }TerraTRA BD.png
  .attachment
    %a{ :href => "/images/TerraTRA FP.png" }TerraTRA FP.png
