.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Tracer Evaluation System
%ul
  %li LabVIEW 2010
  %li LabVIEW RT 2010
  %li 12 RT Desktop Systems
  %li 12 #{ext_link 'GigE Cameras', 'http://www.edmundoptics.com/imaging/cameras/gigabit-ethernet-cameras'}
  %li NI-IMAQ, NI-IMAQdx
  %li High Speed Image Analysis and Transfer
  %li Remote Audio and Video Correlation
  %li SQL Database Integration
  %li Network Streams
  %li HTML Reporting
%blockquote
  Robert is extremely resourceful. He focuses on solutions to problems and is very knowledgeable about various
  technologies to get things done. He is a very personable individual and great at working with others.
%p -Bryce Lembke

.attachments
  %b Attachments (2)
  .attachment
    %a{ :href => "/images/TOES IMAQ Acquire BD.png" }TOES IMAQ Acquire BD.png
  .attachment
    %a{ :href => "/images/TOES Main FP.png" }TOES Main FP.png
