.breadcrumb
  %a{ :href => "/portfolio" } &lt; Back to portfolio
%h1 Wireless Sensor Tradeshow Demo
%ul
  %li LabVIEW 2011
  %li Wireless Sensor Data Stream
  %li Custom Protocol Parsing
  %li RS-232 over VISA
%blockquote
  EnOcean needed a solution that visualized wireless sensor data entering through a serial port to a PC or laptop.
  Robert quickly came up-to-speed with our unique requirements, parsed through our RF data packets and yielded a visual
  demonstration that definitely captured the essence of what our technology can do. It was a pleasure working with
  Robert - I look forward to working with him again.
%p -Bob Eckery, Marcom Manager at EnOcean
%img{:src => '/images/EnOcean%20FP.png'}
%img{:src => '/images/EnOcean%20BD.png'}
