%h1 Contact
%p Call or email for a free on-site consultation/evaluation.  We can provide help at any phase of the project.
%p <a href='mailto:robert@endigit.com'>robert@endigit.com</a>
%p (801) 808-7693
%p  1372 Hawthorne Lane<br/>Syracuse, UT  84075
%h2 Our Engineers
%table
  %tr
    %th
      %h3 Robert Mortensen
  %tr
    %td
      %img{:src => 'images/Robert%20Image.jpg', :alt => 'Robert Mortensen'}
    %td
      %p
        After starting his career at National Instruments supporting, teaching and developing LabVIEW, Robert Mortensen decided he liked using LabVIEW more than making it.  So he left NI and worked for integration companies Moore Good Ideas and VPI Engineering while honing his LabVIEW skills and earning his MBA.  Armed with his CLA (LabVIEW Architect Certification), extensive LabVIEW experience and a desire to use his business training, he founded Endigit in 2011.  The name Endigit is a compilation of the concepts of engineering and the digital world.  It encompasses Robert's vision for a solid company providing quality services and products.
      %p
        #{ext_link 'Robert Mortensen on LinkedIn', 'http://www.linkedin.com/in/robertcmortensen'}
        <a href='tel:+18018087693'>(801)808-7693</a>
        <a href='mailto:robert@endigit.com'>robert@endigit.com</a>
  %tr
    %th
      %h3 Shawn Walpole
  %tr
    %td
      %img{:src => 'images/ShawnImage.JPG', :alt => 'Shawn Walpole'}
    %td
      %p
        Shawn Walpole started programming with Microsoft Basic on the Apple Macintosh 128k computer in the 1980s and has loved it ever since.  He graduated with a Mechanical Engineering BS degree and a Computer Science minor from the University of Utah in 2000.  He worked on the LabVIEW R&amp;D team at National Instruments for four years developing LabVIEW before moving to Moore Good Ideas.  Shawn was impressed by Endigit's vision and joined the Endigit team in 2014.
      %p
        Shawn gets job satisfaction out of meeting customer needs.  He likes LabVIEW because well-written code is easy to read and because of the power of a development environment that was written for programmers working with real hardware.
      %p
        Shawn has industry experience programming LabVIEW and C/C++.  He has worked with Real Time, FPGA, DAQmx, Motion, TestStand, and Veristand. He has 9 years experience as a LabVIEW consultant with many project successes.
      %p
        #{ext_link 'Shawn Walpole on LinkedIn', 'http://www.linkedin.com/pub/shawn-walpole/9/839/1a7'}
        <a href='tel:+18014996224'>(801)499-6224</a>
        <a href='mailto:shawn@endigit.com'>shawn@endigit.com</a>
  %tr
    %th
      %h3 Carl Wecker
  %tr
    %td
      %img{:src => 'images/Carl_Image.jpg', :alt => 'Carl Wecker'}
    %td
      %p
        Before discovering LabVIEW, Carl Wecker had a varied background ranging from programming, R&amp;D Engineering and working with artificial hearts to construction, masonry, and real estate. During his 6 years working at Maxtec in Salt Lake City, Carl became immersed in LabVIEW and hasn't looked back. He jumped from developing test systems and calibration routines for medical gas sensors at Maxtec to working for ATK and developing test software for NASA's SLS program, which will hopefully one day take us to Mars.
      %p
        Carl joined Robert and Shawn in 2015 and is excited to be working with people not only so talented but also so visionary and full of integrity. He comes from a family of programmers and loves all things engineering, especially when it involves software. He graduated with a bachelors in Biomedical Engineering from the University of Utah in 2005.
      %p
        Carl currently lives in the mountains of Utah with his wonderful opera singing wife, and his five, soon to be six, incredible children.
      %p
        #{ext_link 'Carl Wecker on LinkedIn', 'http://www.linkedin.com/pub/carl-wecker/24/553/5a6/'}
        <a href='tel:+18018790630'>(801)879-0630</a>
        <a href='mailto:carl@endigit.com'>carl@endigit.com</a>
%p
  #{ext_link 'NI Alliance Partner Page', 'http://partners.ni.com/partner_locator/partner_details.aspx?id=86525'}
