%h1 Images License
%p Images on the Endigit website are property of Endigit, except for the following:
%p All certifications from National Instruments are used by permission.
%p
  Picture of Salt Lake City on Home page, used under the
  #{ext_link 'Creative Commons (CC2.0) license', 'http://creativecommons.org/licenses/by/2.0/'}.
  Author is Garrett on flickr.  This image was reduced in size by 50% and cropped.
