%div
  %img.main-banner-image{:src => '/images/Stock/bulb-catchphrase.png'}
  .section-wrap
    .customer-box 
      %img.customer-box-image{:src=> '/images/customerLogos/autoliv-inc-logo.png'}
      %img.customer-box-image{:src=> '/images/customerLogos/US_Army_logo.png'}
      %img.customer-box-image{:src=> '/images/customerLogos/bd640x426.jpg'}
    .blog-update-box
      Here are the latest updates from the blog.
  .call-to-action
    This is the call to action!