%img.main-banner-image{:src => '/images/Heros/HomePage_v1_photo_v2.png'}
%div.section-wrap
  .item-box
    .item.item1 
      %img.item-image{:src=> '/images/Icons/lab_dev_icon.png'}
      %h3 LabVIEW DEVELOPMENT
      %label With 5 Certified LabVIEW Architects, Endigit provides world class LabVIEW Development.
    .item.item2
      %img.item-image{:src=> '/images/Icons/automated_test_icon.png'}
      %h3 AUTOMATED TEST
      %label Endigit provides automated test consulting to provide better test coverage at a lower cost.
    .item.item3
      %img.item-image{:src=> '/images/Icons/data_acquisition_icon.png'}
      %h3 DATA ACQUISITION
      %label From simple data loggers to high channel count systems, Endigit can build a DAQ system that meets your needs.
  .client-label OUR CLIENTS
  .item-box.customer-box
    .item1
      %img.customer-box-image{:src=> '/images/customerLogos/autoliv-inc-logo.png'}
    .item2
      %img.customer-box-image{:src=> '/images/customerLogos/US_Army_logo.png'}
    .item3
      %img.customer-box-image{:src=> '/images/customerLogos/bd640x426.jpg'}
    .item4
      %img.customer-box-image{:src=> '/images/customerLogos/Boeing-Logo.svg.png'}
    .item5
      %img.customer-box-image{:src=> '/images/customerLogos/enocean.png'}
.call-to-action
  This is the call to action!

