---
title: Products
---

%h1 Products
%h2 SquareBattle
%img{:src => '/images/SquareBattle.png'}
%p
  Interested in testing out your LabVIEW prowess against fellow programmers? Endigit’s new SquareBattle 
  Arena may be just what you are looking for. Whether looking for something fun to do at a local user group 
  or searching for something fun to do with your students, this LabVIEW challenge is sure to meet your needs.
  But, to be honest, the real question is, can you beat Endigit?! Test your custom Squares against Endigit’s 
  home-brewed Squares.
%p
  SquareBattle is a game written in LabVIEW where you create your own team of squares to compete against 
  other peoples teams in an arena. It was created with the following goals:
%ul
  %li To be a fun way to learn about LabVIEW and Object Oriented Programming
  %li To promote community networking and bonding
  %li To provide a challenging game that allows players to be creative while rewarding well designed code
%p
  It is highly recommended for a fun way to have a friendly competition at a LabVIEW User Group meeting or 
  amongst your peers. 
%p
  Check out the <a href='https://bitbucket.org/endigit/squarebattle'>SquareBattle repository on Bitbucket</a> 
  to get started!
%img{:src => '/images/SquareBattle%20Sentinel.png'}
%img{:src => '/images/SquareBattle%20SVoT.png'}

%h2 IP Blaster
%p
  <a href='/downloads/IP%20Blaster%20Installer.zip'>Download IP Blaster 30 Day Free Trial (Requires LabVIEW 2012
  Run-Time Engine)</a> 8.1  MB
%p
  <a rel='nofollow' href='http://joule.ni.com/nidu/cds/view/p/id/3433/lang/en'>Download LabVIEW 2012 Run-Time
  Engine</a> 226 MB
%p IP Blaster is a utility for quickly and easily setting a static IP address on a Windows system.
.image-wrap
  %img.product-image{:src => '/images/IP%20Blaster.png'}
%ul
  %li Manually enter new settings and save them for later use
  %li Switch between stored static IP addresses and DHCP with the click of the mouse
  %li Quickly view your current IP settings
  %li Toggle between settings for different interfaces (i.e. LAN and wireless)
  %li Makes cRIO and other LabVIEW RT target IP configuration a snap
  %li Official support for Windows 7
  %li Notification window integration allows for changes without opening a single dialog
  %li Unofficial support for previous versions of Windows
%p IP Blaster
%p Version 1.2.0.42
%p Released August 29, 2012
%ul
  %li Added context help
  %li Added custom icon
  %li Added help file and system tray link to it
%h3 FAQs:
%p Why does the text in IP Blaster appear too large and not fit?
%p
  If the text in IP Blaster appears too large and doesn't fit, you may have your Windows text size set to a higher
  percentage than normal.  To fix this, follow the instructions <a
  href='http://windows.microsoft.com/en-us/windows7/Make-the-text-on-your-screen-larger-or-smaller'>here</a>.
%h3 IP Blaster Walkthrough:
%p IP Blaster is a utility for quickly and easily setting a static IP address on your Windows system.
%p
  Select the interface you want to modify in the drop down box at the top.  Your current settings will shows up
  in "Current Settings". Modify "New Settings" to your desired settings and press "Set".
%p
  "New Settings" can be saved by typing a profile name in "Profile" and clicking "Save".  You can load a saved profile
  into "New Settings" by selecting the desired profile in "Profile" and clicking "Load".  Saved profiles can be
  automatically set by right-clicking the system tray icon and selecting the profile name.
%p IP Blaster is officially supported on Windows 7 and unofficially supported on other versions of Windows.
%p To activate IP Blaster, click on the appropriate button on the startup dialog in the 30 day free trial.
%p <a rel='nofollow' href='http://sine.ni.com/nips/cds/view/p/lang/en/nid/211049'>LabVIEW Tools Network Page</a>
%p Contact <a href='mailto:support@endigit.com'>support@endigit.com</a> for IP Blaster support issues
.sidebar
.image-wrap
  %img.product-image{:src => '/images/IP%20Blaster%201000%20x%201423.png', :alt => 'Static IP in 2 clicks'}
.image-wrap
  %img.certification-image{:src => '/images/LVcompatible.silver.vert.png'}
