---
title: Support
---

%h1 Support
%p
  Endigit's goal is to help our customers be successful.  If you need support for work done by Endigit or for IP Blaster,
  then please <a href='/contact'>contact</a> us.  The Endigit Support Tool below may be useful to share you computer
  screen with an Endigit engineer.
%h2 Endigit Support Tool
%p
  The Endigit Support Tool may be run on any computer connected to the internet.  It provides a way of allowing an
  Endigit engineer to view and control your computer remotely.  It only allows viewing and controlling once the Engineer
  has a 6 digit code.
%p Instructions:
%ol
  %li Download <a href='/downloads/Endigit%20Support.ex_'>Endigit Support.ex_</a>
  %li Replace ".ex_" extension with ".exe"
  %li Run "Endigit Support.exe"
  %li Contact an Endigit engineer with the six digit number
%p Contact <a href='mailto:support@endigit.com'>support@endigit.com</a> for support issues.
